
{% extends "base.html" %}
{% block title %}Order History{% endblock %}
{% block content %}



<table>
    <tr>
        <th>Order ID</th>
        <th>Items</th>
        <th>Name</th>
        <th>Address</th>
        <th>Method</th>
        <th>Total Price</th>
        <th>Date</th>
    </tr>

    
    {% for order in orders %}
        <tr class="order-row">
            <td>{{ order.order_id }}</td>
            <td>
                    <ul>
                        {% for item,details in order['item_orders'].items() %}
                            <li>{{ item }} - Quantity: {{ details['quantity'] }} </li>
                        {% endfor %}
                    </ul>
            </td>
            <td>{{ order.name }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.method }}</td>
            <td>${{ order.total }}</td>
            <td>{{ order.date }}</td>
            <td>
                <form action="{{ url_for('delete_order', order_id=order.order_id) }}" method="post">
                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                    <input type="submit" value="Delete Order">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% if not orders %}
    <p>No order history available.</p>
{% endif %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


{% endblock %}