{% extends "base.html" %}
{% block title %}Donut stoppers{% endblock %}
{% block content %}

{% if message_disp %}
    <p>{{ message_disp }}</p>
    <a href="/history">View your order history</a>
{% endif %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>STAR DONUTS OF THE WEEK</h1>
<section id="swiper-1">
        <div class="swiper" id="swiper-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-container">
                        <img src="{{ url_for('static', filename='images/baked-donut.jpg') }}" alt="baked-donut">
                        <div class="overlay">
                            <h2>segment</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-container">
                        <img src="{{ url_for('static', filename='images/creme-filled-donut.jpg') }}" alt="Creme-filled Donut">
                        <div class="overlay">
                            <h2>segment1</h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-container">
                        <img src="{{ url_for('static', filename='images/plain_donut.png') }}" alt="Plain Donut">
                        <div class="overlay">
                            <h2>segment2</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>


</section>



{% endblock  %}