{% extends "base.html" %}
{% block title %}Donut stoppers{% endblock %}
{% block content %}

<div class="menu">
    {% for donut_temp,details in donut_temp.items() %}
        <div class="menu-items">
            <h2>{{ donut_temp }}</h2>
            <h2>${{ "%.2f"|format(details.price) }}</h2>
            <form action="/verify" method="post">
                <input type="hidden" name="main_order" value="{{ donut_temp }}" id="main_order">
                <input type="hidden" id="image" name="image" value="{{ details.img_path}}">
                <input type="hidden" name="price" value="{{ details.price }}" id="price">
                <img src="static/images/{{ details.img_path}}" alt="{{ details.img_path}}" width="200">

                <button type="submit">Add to Order</button>
            </form>
        </div>  
    {% endfor %}
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock  %}