<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>donut stoppers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>donut stoppers</h1>
            <h1>Welcome to donut stoppers</h1>
            <div class="linknav">
                <a href="/menu">Menu</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <h2>Review your order</h2>
        <div class="total">
            <h3>Total Price: ${{ total_price }}</h3>
        </div>
        <div class="in_items">
            {% if cart %}
                <ul>
                {% for items, details in cart.items() %}
                    <li>{{ items }} - Quantity: {{ details.quantity }} - Price: ${{ details.total_price }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>
        {% if user %}
            <p>Logged in as: {{ user }}</p>
        {% else %}
            <p>You are not logged in.</p>
        {% endif %}
        <form action="/submit_order" method="POST">
            <input type="hidden" name="cart" value="{{ cart }}">
            <input type="hidden" name="user" value="{{ user }}">
            <input type="hidden" name="total_price" value="{{ total_price }}">
            <button type="submit">Submit Order</button>
        </form>

    </body>
</html>