{% extends "base.html" %}
{% block title %}Donut stoppers{% endblock %}
{% block content %}


<div class="container">
    <div class="conheader">
        <h1>{{ main_order }}</h1>
        <h2>Choose Toppings and Sprinkles</h2>
        <h2>base cost: ${{ price }}</h2>
    </div>
    <div class="concontent">
        <img src="{{ url_for('static', filename="images/" + image) }}" alt="{{ main_order }}" width="200">
    </div>

    <div class="conside">
        <form action="/checkout" method="POST" >
            <div class="orderForm">
                <input type="hidden" name="main_price" value="{{ price }}">
                <select name="topping" id="topping">
                    {% for topping,details in toppings.items() %}
                        <option value="{{ topping }}" >{{ topping }}-${{ details.price }}</option>
                    {% endfor %}
                </select>
                
                <select name="sprinkle" id="sprinkle">
                    {% for sprinkle,details in sprinkles.items() %}
                        <option value="{{ sprinkle }}" data-price="{{ details.price }}">{{ sprinkle }}-${{ details.price }}</option>
                    {% endfor %}
                </select>
                <input name="quantity" id="quan" type="number" min="1" placeholder="Quantity" required>
                <input type="hidden" name="main_order" id="main_order" value="{{ main_order }}">
                <button type="submit">Confirm Order</button>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock  %}